@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    patrick-hand {
      font-family: "Patrick Hand", cursive;
      font-weight: 400;
      font-style: normal;
    }
  }
}